<div class="jumbotron text-center">
    <p><strong>{{config.app.TITLE}} is saving Brandwatch money.</strong></p>
    <h1>€ {{totalMoneySaved}}</h1>
    <p>saved so far</p>
</div>
<table class="table">
    <tr>
        <th class="text-center">Total Redirects</th>
        <th class="text-center">Time Saved/Redirect</th>
        <th class="text-center">Total Time Saved (h:m:s)</th>
        <th class="text-center">Avg. Employee Salary</th>
        <th class="text-center">Total Money Saved</th>
    </tr>
    <tr>
        <td class="text-center">{{totalRedirects}}</td>
        <td class="text-center">{{timePerRedirect}}s</td>
        <td class="text-center">{{totalTimeSaved}}</td>
        <td class="text-center">€ {{avgSalary}}</td>
        <td class="text-center">€ {{totalMoneySaved}}</td>
    </tr>
</table>
