<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center">
            <table class="table">
                <thead>
                    <tr>
                        <td class="col-md-4">
                            <h1>{{totalGoLinks}}</h1>
                            <p>Go links</p>
                        </td>
                        <td class="col-md-4">
                            <h1>{{totalRedirects}}</h1>
                            <p>Redirects</p>
                        </td>
                        <td class="col-md-4">
                            <h1>{{totalUsers}}</h1>
                            <p>Users</p>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Top 10 Go Links</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <th class="text-center col-md-1">#</th>
                    <th class="text-center">Short URI</th>
                    <th class="text-center col-md-5">Long URI</th>
                    <th class="text-center col-md-1">Owner</th>
                    <th class="text-center col-md-1">Redirects</th>
                </tr>
                {{#each topGoLinks}}
                    <tr>
                        <td class="text-right">{{position}}</td>
                        <td><a href="/{{goLink.shortUri}}">{{goLink.shortUri}}</a></td>
                        <td class="table-cell--ellipsis"><a href="/{{goLink.shortUri}}/">{{goLink.longUri}}</a></td>
                        <td><a href="mailto:{{owner.email}}">{{owner.name}}</a></td>
                        <td class="text-right">{{redirectCount}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
