
<div class="row">
    <div class="col-lg-9 col--center">
        <div class="panel panel-primary">
            {{#if user}}
                <div class="panel-heading">
                    <h1 class="panel-title">Create a new Go link</h1>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="/_api/go-link">
                        <div class="form-group">
                            <label for="longUri">
                                Paste the original URL here
                            </label>
                            <input
                                    autocomplete="off"
                                    autofocus
                                    class="form-control"
                                    name="longUri"
                                    placeholder="http://dogr.io/wowgo/suchlongurl/nowmuchshort/amaze.png"
                                    required
                                    type="url">
                        </div>
                        <div class="form-group">
                            <label for="shortUri">
                                Enter the short URL you want
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon"><strong>go /</strong></span>
                                <input
                                        autocomplete="off"
                                        class="form-control"
                                        name="shortUri"
                                        pattern="[a-z0-9\-]+"
                                        placeholder="suchwow  (letters-numbers-dashes-only)"
                                        required
                                        type="text">
                            </div>
                        </div>
                        <button id="submitCreateLink" type="submit" class="btn btn-primary">
                            Create Go link!
                        </button>
                    </form>
                </div>
            {{else}}
                <div class="panel-heading">
                    <h1 class="panel-title">&nbsp;</h1>
                </div>
                <div class="panel-body text-center">
                    <p class="lead">
                        To create a go link you must log in...<br>
                        <small class="text-muted">(only Brandwatch Gmail accounts)</small>
                    </p>
                    <p>
                        <a href="/_auth/google" class="btn btn-primary btn-lg">Log In</a>
                    </p>
                </div>
            {{/if}}
        </div>
    </div>
</div>

{{#if myLinks}}
    <div class="v-space"></div>

    <div class="row">
        <div class="col-md-12">
            <h2>My Go Links</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <tr>
                        <th class="text-center">Short URI</th>
                        <th class="text-center col-md-6">Long URI</th>
                        <th class="text-center col-md-2">Redirects</th>
                    </tr>
                    {{#each myLinks}}
                        <tr>
                            <td><a href="{{../config.app.BASE_HREF}}/{{shortUri}}">{{shortUri}}</a></td>
                            <td class="table-cell--ellipsis"><a href="{{../config.app.BASE_HREF}}/{{shortUri}}/">{{longUri}}</a></td>
                            <td class="text-right">{{redirects}}</a></td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
{{/if}}

<div class="v-space"></div>

<div class="row">
    <div class="col-md-12">
        <h2>All Go Links</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <th class="text-center">Short URI</th>
                    <th class="text-center col-md-6">Long URI</th>
                    <th class="text-center col-md-2">Owner</th>
                </tr>
                {{#each goLinks}}
                    <tr>
                        <td><a href="{{../config.app.BASE_HREF}}/{{shortUri}}">{{shortUri}}</a></td>
                        <td class="table-cell--ellipsis"><a href="{{../config.app.BASE_HREF}}/{{shortUri}}/">{{longUri}}</a></td>
                        <td><a href="mailto:{{ownerId.email}}">{{ownerId.name}}</a></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>
